<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.web.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.dong.web.domain.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="username" jdbcType="VARCHAR" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, loginName, password, age, sex
  </sql>

  <!--根据用户名称查询用户信息-->
  <select id="selectUserByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where loginName = #{loginName,jdbcType=VARCHAR}
  </select>
  <select id="findUserInfoList" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from user
    where 1=1
    <if test="username != null and username != '' " >
      and user_name like concat('%',#{username},'%')
    </if>
    <if test="sex != null and sex != '' " >
      and sex  = #{sex}
    </if>
    limit #{page},#{limit}
  </select>
  <select id="countUserInfoTotal"  resultType="java.lang.Integer">
    SELECT COUNT(*) FROM user
    where 1=1
    <if test="username != null and username != '' " >
      and user_name like concat('%',#{username},'%')
    </if>
    <if test="sex != null and sex != '' " >
      and sex  = #{sex}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dong.web.domain.User" >
    insert into user (id, user_name, loginName, 
      password, age, sex)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dong.web.domain.User" >
    update user
    set user_name = #{username,jdbcType=VARCHAR},
      loginName = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>